.myText {
    -fx-font-family: "Open Sans", sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #333333;
    -fx-font-weight: 600;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1);
}